{% extends 'base.html' %}
{% load static %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="d-grid gap-2">
  <button class="btn btn-primary mt-sm-2" type="button">Завантажити</button>
</div>
<div class="row">
{% for item in news %}
<div class="col-sm-4 mt-sm-2">
<div class="card">
    <div class="card-body" >
        <div class="media">
            <h2 class="card-title" align="center">{{ item.title }}</h2> <hr>
            <div class="media-body">
                <p class="card-text" >{{ item.content|safe }}</p>
            </div>
            <img class="card-img-top" src="{{ item.photo.url }}"  width="" height="400">
        </div>
    </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}